<!--<div class="container">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <h1 class="h3 mb-3 font-weight-normal">Please Sign in</h1>
        <div *ngIf="errorsMessage" class="alert alert-danger alert-dismissible fade show">
            <strong>Error!</strong> {{ errorsMessage }}-->
            <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
        <!--</div>
        <div class="form-group">
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" [formControlName]="'username'"  class="form-control" placeholder="Email" required="" autofocus="">
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" [formControlName]="'password'" class="form-control" placeholder="Password" required="">
        </div>
        <button class="btn btn-lg btn-primary btn-block">Sign in</button>
    </form>
</div>-->

<div class="container px-4 py-5 mx-auto">
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-5">
                        <div class="row justify-content-center px-3 mb-3"> <img id="logo" src="https://i.imgur.com/PSXxjNY.png"> </div>
                        <h3 class="mb-5 text-center heading">We Are Amazing presentation</h3>
                        <h6 class="msg-info">Please login to your account</h6>
                       

                        <div class="form-group col-lg-12 mx-auto">
                            <a href="#" class="btn btn-primary btn-block py-2 btn-facebook">
                                <i class="fa fa-facebook-f mr-2"></i>
                                <span class="font-weight-bold">Continue with Facebook</span>
                            </a>
                            <a href="#" class="btn btn-primary btn-block py-2 btn-twitter">
                                <i class="fa fa-twitter mr-2"></i>
                                <span class="font-weight-bold">Continue with Twitter</span>
                            </a>
                        </div>

                        <!-- Divider Text -->
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center orClass">
                            <div class="border-bottom w-100 ml-5"></div>
                            <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                            <div class="border-bottom w-100 mr-5"></div>
                        </div>

                        <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                        
                            <div *ngIf="errorsMessage" class="alert alert-danger alert-dismissible fade show">
                                <strong>Error!</strong> {{ errorsMessage }}-->
                            </div>
                            
                            <div> 
                                <label class="form-control-label text-muted">Email</label> 
                                <input type="text" id="inputUsername" [formControlName]="'email'" placeholder="Enter your email" class="form-control" required autofocus="">
                            </div>
                            
                            <div> 
                                <label class="form-control-label text-muted">Password</label>
                                <input type="password" id="inputPassword" [formControlName]="'password'" class="form-control" placeholder="Enter your password" required>
                            </div>
                            
                            <div class="row justify-content-center my-3 px-3"> 
                                <button class="btn-block btn-color">Login to Tidi</button> 
                            </div>
                            
                            <div class="row justify-content-center my-2"> 
                                <a href="/forgivenPasswordEmail"><small class="text-muted">Forgot Password?</small></a> 
                            </div>
                        </form>
                    </div>
                </div>
                <div class="bottom text-center mb-5">
                    <p class="sm-text mx-auto mb-3">Don't have an account?<button (click)="onRedirectRegistration()" class="btn btn-white ml-2">Create new</button></p>
                </div>
            </div>
            <div class="card card2">
                <div class="my-auto mx-md-5 px-md-5 right">
                    <h3 class="text-white">We are more than just a company</h3> <small class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</small>
                </div>
            </div>
        </div>
    </div>
</div>