<div class="container padding-bottom-3x mb-2 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="forgot">
        <h2>Forgot your password?</h2>
        <p>
          Change your password in three easy steps. This will help you to secure
          your password!
        </p>
        <ol class="list-unstyled">
          <li>
            <span class="text-primary text-medium">1. </span>Enter your email
            address below.
          </li>
          <li>
            <span class="text-primary text-medium">2. </span>Our system will
            send you a temporary link
          </li>
          <li>
            <span class="text-primary text-medium">3. </span>Use the link to
            reset your password
          </li>
        </ol>
      </div>
      <div *ngIf="submitted && Message">
        <div *ngIf="!subbmitedSucess" class="alert alert-danger alert-dismissible fade show">
            <strong>Error!</strong> {{ Message }}
        </div>
        <div *ngIf="subbmitedSucess" class="alert alert-success alert-dismissible fade show">
            <strong>Sucess!</strong> {{ Message }}
        </div>
      </div>
      
      <form class="card mt-4" [formGroup]="forgivenPasswordForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="card-body">
            
            <div class="form-group">
                <label for="inputEmail" class="sr-only">Enter your email address</label>
                <input type="text" id="inputEmail" [formControlName]="'email'" class="form-control" placeholder="Email" 
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    required="" autofocus="">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>

            <small class="form-text text-muted">
                Enter the email address you used during the registration on Locavis. Then we'll email a link to this address.
            </small>
        </div>
        <div class="card-footer">
          <button class="btn" type="submit">
            Get New Password
          </button>
          <button class="btn-color" (click)="OnGoToLogin()" >Back to Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
